extends ./Layout/index

block slider
        .slider
            h1 Rio de Janeiro 
            em aventura


block Contenido
       main.container.mt-5
                h2.text-center.mb-5 Sobre Nosotros
                .row.mb-5
                    .col-md-6
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae maxime quidem eius! Ipsum amet odit eveniet cumque fugiat, asperiores nobis facere. Dolor nihil excepturi, beatae at qui quod illum perferendis                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil magnam sequi non aliquid cum praesentium, voluptates provident blanditiis odio maxime beatae cupiditate reiciendis excepturi voluptate nisi quia aut quas laborum.

                        
                        p  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur asperiores ipsam vel quia dicta corrupti non necessitatibus similique totam impedit! Sint nisi ab nobis, doloribus eveniet assumenda vero. Quos, itaque? 
                    .col-md-6 
                          img(src="/img/inicio_nosotros.jpg", alt="imagen nosotro" class="img-fluid")
                    