extends ./Layout/index

block Contenido
     main.container.mt-5
        .row 
            .col-md-5
                img(src="/img/nosotros.jpg",class="img-fluid")
            .col-md-7
                h1 #{pagina}
                p ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua     

                p dolor sit amet consectetur adipisicing elit. Necessitatibus debitis corrupti voluptatibus soluta ipsa sapiente obcaecati ab repellat architecto ut quia eius molestiae quidem corporis, eum rem! Quisquam, magnam officiis?
     


     .listado-iconos
            .container.mt-5.py-5.text-center
                .row 
                    .col-md-4
                        img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                        h2.mb-4 Seguridad
                            p  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur asperiores ipsam vel quia dicta corrupti non necessitatibus similique totam impedit! Sint nisi ab nobis, doloribus eveniet assumenda vero. Quos, itaque?
                    .col-md-4
                        img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                        h2.mb-4 Los Mejores Destinos
                            p  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur asperiores ipsam vel quia dicta corrupti non necessitatibus similique totam impedit! Sint nisi ab nobis, doloribus eveniet assumenda vero. Quos, itaque?
                    .col-md-4
                        img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                        h2.mb-4 Los Mejores Precios
                            p  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur asperiores ipsam vel quia dicta corrupti non necessitatibus similique totam impedit! Sint nisi ab nobis, doloribus eveniet assumenda vero. Quos, itaque?